@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.cardContainer {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 100%;
    width: 240px;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items at the start of the container */
    align-items: flex-start; /* Align the content (text) to the left */
    text-align: left; /* Ensure text is aligned to the left */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.cardContainer:hover {
    transform: scale(1.05); /* Slight scale effect on hover */
    border-color: aqua; /* Change border color on hover */
}

.name {
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
    margin-top: 10px;
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure the name takes the full width available */
}

.description {
    font-size: 0.9rem;
    color: #202020;
    text-align: left; /* Left align the description */
    margin-top: 10px;
    width: 100%; /* Ensure description takes full width */
    font-weight: 400;
    font-family: 'Roboto';
}

.image {
    height: 200px; /* Adjusted to a more fitting size for the image */
    width: 100%; /* Make image width 100% of the card's width */
    object-fit: cover; /* Ensure the image maintains aspect ratio and fills the space */
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.cardContainer:hover .image {
    transform: scale(1.1); /* Slight scale effect on hover to enlarge the image */
}
