.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 0;
    width: 100%;
    height: fit-content;
  }
  
  .title {
    padding-top: 26px;
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
    align-self: flex-start;
  }
  
  .sitesContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .sites {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    overflow: hidden; /* Hide horizontal scrollbar */
    position: relative; /* Ensure positioning is correct */
    transition: transform 3s ease-in-out; /* Slower transition, making it smooth and slow */
  }
  
  .cardContainer {
    width: 250px;
    flex-shrink: 0; /* Prevent cards from shrinking */
  }
  