
.mainContainer{
 margin-bottom:32px ;

}
.titleContainer{
  display: flex;
  justify-content: start;
  width: 220px;
  margin-top: -1%;
  left:12rem;
  color: aqua;
  position: absolute;
  width: 8%
}
.title{
  color: black;
  position: relative;
}
.section{
  margin-top:50px;
  color: black;
}
.cardWrapper{
  padding: 0px 10px;
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuBar{
 position: relative;
 padding-top: 34%;
 justify-self: end;
 left: -5rem;
}